version: '3.7'

services:
  db:
    image: mongo:4.2.3
    container_name: db
    restart: always
    volumes:
      - ./db:/db
    ports:
      - 27016:27017
  
  backend:
    build: ./server
    container_name: backend
    restart: always
    ports:
      - 3001:3000
    volumes:
      - ./server/src:/app/src
    depends_on:
       - db
