version: '3.7'

services:
  db:
    image: mongo:4.2.3
    container_name: db
    restart: always
    volumes:
      - ./db:/data/db
    ports:
      - 27016:27017
    logging:
      driver: none
  
  backend:
    build: ./server
    container_name: backend
    restart: always
    environment:
      - CHOKIDAR_USEPOLLING=true
    ports:
      - "3001:3000"
    volumes:
      - ./server/src:/app/src
    depends_on:
       - db

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    environment:
      - CHOKIDAR_USEPOLLING=true
    ports:
      - "80:80"
    depends_on:
      - backend