{{users[0] | json}}
{{users2[0]}}
<ul>
    <li>{{users2[0]}}</li>
    <li>{{users2[1]}}</li>
    <li>{{users2[2]}}</li>
</ul>
<ul>
    <li *ngFor="let user of users2">
        {{user}}
    </li>
</ul>

<ul>
    <li *ngFor="let user of users">
        {{user['name'] | json}}
    </li>
</ul>
<ul>
    <li *ngIf="activated">
        {{users[0].name}}
        activated
    </li>
</ul>
<ul>
    <li *ngFor="let user of users">
        <div *ngIf="user.age >= 25">
            {{user.name}}
        </div>
    </li>
</ul>